<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
    <body>
        <%- include ('../partials/header') %>
            <main class="main_index">
                <section class="main_banner">
                    <div class="titulo_banner">
                        <h1 class="titulo_banner">CATEGORIAS</h1>
                    </div>
                </section>
                <section>
                    <h3></h3>
                    <% getCategories.forEach( category => { %> 
                        <article class="main-courses">

                            <span class="course-span"> </span>
                            <h4 class="course-title"><%= category.name %> </h4>
                            
                        </article>
                    <% }) %> 
                </section>
            </main>
            <%- include ('../partials/footer') %>
                <script src="/js/header.js"></script>
    </body>

</html>