<header class="header">
    <nav class="header-admin">
        <div><input type="checkbox" id="menu-burger"></div>
        <label for="menu-burger" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="burger-display">
            <li><a class="active" href="/admin/courses">Listado de Cursos</a></li>

        </ul>
    </nav>
    <div class="logo-admin"> <a href="/admin"><img src="/images/logo-brainhub.jpg" alt="Logo Brainhub" id="logo"></a></div>
    <nav class="header-admin">
        <ul class="menu-admin">
            <li class="menu-item-admin"> <a href="/admin/courses">Listado de Cursos</a>
            </li>
            <li class="menu-item-admin"> <a href="/admin/courses/add">Agregar Curso</a>
            </li>
        </ul>
    </nav>
</header>