@import url('root.css');

body {
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.admin-main {
    background-color: #010615;
    height: 100%;
    width: 100%;
}

.admin-main h1#admin-main-title{
    color: white;
}