@import url('root.css');

.contenedor_perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;

}

.profile-form {
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 3rem 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.profile-form-header {
    text-align: center;
    
}

.profile-form .profile-box_avatar {
    align-items: center;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}
.profile-subtitle {
    width: 30%;
}
.avatar_span {
    width: 20%;
}

.profile-info p {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
}
.profile_editinfo {
    margin-left: 150px ;
    margin-bottom: 20px;
}

.profile_editinfo .form-edit input {
    margin: 10px;
    
}

/* .profile_h3 {
    /* align-items: center;
    display: flex;
    justify-content: space-around; 
}*/


.profile-avatar img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.interests {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.btn_editar-profile {
    width: 30%;
    display: flex;
    outline: none;
    background-color: #345B63;
    font-size: 16px;
    border: none;
    color: antiquewhite;
    padding: 15px 0px;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
    margin-left: 200px;
}
.btn_editar-profile:hover{
    background-color: #264349;
}

.input_file-avatar {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

