/* FOOTER */

footer{
    width: 100%;
    padding: 10px 0px;
    background: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #151544 56.43% );
    margin: 0;
    z-index: 10;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 10px;
    z-index: 10;
    
}


.article__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-logo img{
    width: 170px;
    margin-bottom: 0px;
    margin-top: 15px;
    
}

.article__footer .somos_Brainhub{
    max-width: 280px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    padding-top: 0px;
}

.article__footer h2{
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.article__footer a{
    margin-top: 10px;
    color: rgb(190, 187, 187);
    font-weight: 600;
    opacity: 0.8;
}

.article__footer a:hover{
    
    color: #fff;
}

.article__footer a .fab{
    font-size: 20px;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.copyright p{
    margin-top: 20px;
    color: lightgrey;
}

.copyright hr{
    border: none;
    height: 1px;
    background-color: black;
}

/* END FOOTER */

@media (min-width:768px) {
    footer{
        flex-wrap: wrap;
        display: inline-block;
    }
}