/* HEADER */

header {
    background: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43% );
    position: sticky;
    width: 100%;
    top:0;
    left: 0;
    z-index: 10;
    padding: 0.5rem 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    flex-direction: row;
    
}

header nav div#carrito-icon {
    justify-content: center;
    padding: 1rem;
}


header .logo {
    display: flex;
    border: none;
    width: 5rem;
}

header .logo img {
    width: 120px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
}

header .logo-admin {
    display: flex;
    border: none;
    width: 5rem;
}

header .logo-admin img#logo-admin {
    width: 130px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header div.user{
    border: none;
    width: 4rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 2px;
    order: 3;
    transition: all 1s ease-in-out;
    display: none;
    border-radius: 10px;
}

header div.user:hover{
    background-color: #5499daea;
    box-shadow: 0 5px 5px gray;
    color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul.burger-display {
    list-style: none;
    text-decoration: none;
    margin-top: 2.7rem;
    position: fixed;
    width: 23%;
    transition: all .5s;
    display: none; 
}

header nav ul.burger-display li {
    padding: 3px;
    color: #fff;
}

header nav div input {
    display: none;
}

@keyframes fade-in { 
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

header nav ul.burger-display.active {
    display: flex;
    opacity: 1;
    animation: fade-in 1s;
    top: 30px;
    font-size: 1rem;
    margin-left: -10px;
    padding: 5px;
    border-radius: 5px;
    align-items: left;
    flex-direction: column;
    background: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43% );
}


header nav label.bar-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
    margin-right: 20px;
    order:-1;
}

header nav.menu-burger:hover {
    background-color: #264349;
    
}

/* Search */

.buscador{
    background-color: #14094d00;
    height: 40px;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    color: gray;
    padding: 0;
}

.buscador form.search-form{
    display: flex;
    padding: 5px;
    margin-left: 150px;
    margin-right: -150px;
}

.buscador input{
    border: solid 1px white;
    border-radius: 5px;
    padding: 7px 20px 7px 7px;
    display: none;
    background: rgba(196, 196, 196, 0.14);
}

.buscador .search-input{
    border: solid 1px white;
    border-radius: 5px;
    padding: 7px 20px 7px 7px;
    display: none;
    background: rgba(196, 196, 196, 0.14);
}

/* .buscador .search-button:hover > .search-input {
    display: block;
} */

/* .buscador .search-input.active{
    display: block;
    top: 30;
} */

.buscador input:focus {
    outline: none;
}

.buscador button{
    background-color: #080ea200;
    border-left: solid 1px white;
    color: white;
    border: none;
    font-size: 1rem;
    order: 2;
}

/* End search */

/* Menu */

header nav ul.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: none;
    color: #fff;
}

header nav ul.menu li.menu-item{
    position: relative;
    margin-top: 4px;
    margin-right: 13px;
    margin-left: 15px;    
}

header nav ul.menu li.menu-item::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    transition: width 0.5s;
}

header nav ul.menu li.menu-item:hover::after{
    width: 70%;
}

a {
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    color: #fff;
}

header ul.submenu {
    border-radius: 5px;
    padding: 1rem;
    list-style: none;
    background: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43% );
    position: absolute;
    display: none;
    justify-content: space-around;
}


header nav ul.menu li.menu-item:hover > ul.submenu {
    display: block;
    
}

div#carrito-icon{
    padding: 5px;
    display: none
}

.header_avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43% );;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
        
}
.avatar_session {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(15, 255, 27);
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
}

.header_avatar img{
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

/* END HEADER */

/* ADMIN HEADER */

.menu-admin{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: none;
    color: #fff;
}

/* END ADMIN HEADER */

/* QUERIES */

@media screen and (min-width: 768px){
    .logo-admin {
        margin-left: 0;
    }

    header .logo img {
        margin-left: 0;
    }
    nav {
        height: 100px;
    }
    
    .burger-display{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        
    }
    .burger-display li {
        display: inline-block;
        margin: 20px;
        transition: none;
        
    }
    .burger-display li a {
        font-size: 12px;
        background: radial-gradient(79.43% 251.48% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43% );
    }

    header nav div#carrito-icon {
        justify-content: center;
        order: 2;
    }

    header nav ul.menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    header nav label.bar-btn {
        display: none;
    }

    header .menu-item-admin {
        position: relative;
        margin-top: 4px;
        margin-right: 13px;
        margin-left: 15px; 
    }

        
    .buscador input{
        border: #000;
    }

    .buscador form.search-form{
        display: flex;
        padding: 5px;
        background-color: #080ea214;
        border-radius: 50%;
        margin-left: 30px;
        margin-right: 0;
    }

    .buscador button {
        border-radius: 5px;
        background-color: #080ea214;
        color: white;
    }
    div#carrito-icon{
        padding: 5px;
        display: block
    }

    header div.user{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1024px) {

    header nav.header-admin{
        display: flex;
        justify-content: space-around;
    }

    header nav label.bar-btn {
        display: none;
    }

    header nav ul.menu-admin {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .buscador {
        width: 14rem;
        margin-left: 35px;
        display: flex;
    align-items: center;
    justify-content: space-between;
    }


    .buscador .search-input{
        display: block;
        border: #000;
        background-color: white;
    }

    .buscador button {
        background-color: white;
        border-radius: 5px;
        color: grey;
    }

    .logo {
        order: 0;
        margin-left: -50px;
    }

    header .logo img {
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    header .menu-item-admin {
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 150px;
        margin-right: 130px;
    }

}