@import url('login.css');
@import url('register.css');
@import url('productCart.css');
@import url('productDetail.css');
@import url('header.css');
@import url('footer.css');
@import url('root.css');
@import url('addProducts.css');
@import url('editProducts.css');
@import url('listProducts.css');
@import url('edit-profile.css');

body {
    background-color: #D4ECDD;
}

/* MAIN */

main.main_index {
    background-color: #D4ECDD;
    height: 100%;
    width: 100%;
    margin-top: 80px;
}

main.main_index .main_banner {
    background: url("/images/banner2.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    padding: 20px 10px;
    font-weight: bold;
    margin-top: -1px;
    width: 100%;
}

main.main_index .main_banner .titulo_banner {
     position: absolute;
     font-size: 200%;
     color: black;     
     top: 70%; 
     width: 100%;
     text-shadow: 0 0 20px #dbb6d6;
     text-align: center;
 }   

.main.main_index .main_banner img.course_image {
    width: 100%;
}


main.main_index h2 {
    text-align: center;
    font-size: 2rem;
    transition: all 1s;
}


main.main_index section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main.main_index section h3 {
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: rgb(255, 102, 0);
    font-weight: bold;
}

main.main_index section article.main-courses {
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto 30px;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
}


main.main_index section article a picture img.course_image{
    height: 150px;
}

main.main_index section article a h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

main.main_index section article a p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 8px;
}

main.main_index section article a p.course-price{
    color:#6da806;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

main.main_index section article a p.more-info {
    color: #264349;
    transition: all 1s ease-in-out;
    text-align: center;
}

main.main_index section article a p.more-info:hover {
    background-color: #345B63;
    font-size: 20px;
    color: white;
}

/* END MAIN */


@media screen and (min-width: 768px){
    
    main.main_index section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main.main_index section article.main-courses {
        max-width: 295px;
        margin: 20px;
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main.main_index section article.main-courses picture {
        width: 100%;
    }
}



