@import url('login.css');
@import url('register.css');
@import url('productCart.css');
@import url('productDetail.css');
@import url('header.css');
@import url('footer.css');
@import url('root.css');
@import url('addProducts.css');
@import url('editProducts.css');
@import url('listProducts.css');
@import url('edit-profile.css');
@import url('adminIndex.css');

.container {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(/images/backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
    margin-top: 80px;
}
.text-box {
    color: #fff;
    position: absolute;
    bottom: 20%;
    
}
.text-box p.brainhub-banner{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 70px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke:1px #fff;
    background: url(/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
}

@media screen and (max-width:968px){
    .container{
        flex-direction: row;
    }
}
/* END MAIN */


main.main_index {
    background: #010615;
    height: 100%;
    width: 100%;
    padding-top: 4rem;
}

main.main_index .main_banner {
    background: url("/images/image4.jpg");
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 25vh;
    font-weight: bold;
    margin-top: -1px;
    width: 100%;
    top: -40px;
}

main.main_index .main_banner .titulo_banner {
    position: absolute;
    color: rgb(251, 242, 242);     
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 160px;
    text-shadow: #345B63;
 }   

.main.main_index .main_banner img.course_image {
    width: 100%;  
}


main.main_index h2 {
    text-align: center;
    font-size: 2rem;
    transition: all 1s;
}


main.main_index section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main.main_index section h3.course-categories {
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    color: #02030a;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0 178 255), 0 0 10px rgb(0 178 255), 0 0 20px rgb(0 178 255), 0 0 40px rgb(38 104 127), 0 0 80px rgb(38 104 127), 0 0 90px rgb(38 104 127), 0 0 100px rgb(38 104 127), 0 0 140px rgb(38 104 127), 0 0 180px rgb(38 104 127);
}


main.main_index section article.main-courses {
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto 30px;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
    transition: 0.5s;
    height: auto;
}

main.main_index section article.main-courses:hover{
    transform: translateY(-20px);
}

main.main_index section article.main-courses::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(45deg,#ffbc00, #ff0058);
    border-radius: 8px;
}
main.main_index section article.main-courses::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(45deg,#ffbc00, #ff0058);
    filter: blur(30px);
}
main.main_index section article.main-courses:nth-child(2):before,
main.main_index section article.main-courses:nth-child(2)::after
{
    background: linear-gradient(315deg,#03a9f4, #ff0058);
}
main.main_index section article.main-courses:nth-child(3):before,
main.main_index section article.main-courses:nth-child(3)::after
{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}

.main_banner-categorias {
        
}


main.main_index section article a picture img.course_image{
    height: 150px;
    z-index: 9;
    position: relative;
    padding: 10px;
}

main.main_index section article a h4.course-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 9;
    position: relative;
    color: white;
}

main.main_index section article a p.course-description {
    font-size: 1.1rem;
    text-align: justify;
    padding: 8px;
    color: black;
    z-index: 9;
    position: relative;
}

main.main_index section article.main-courses span.course-span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
main.main_index section article.main-courses span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

main.main_index section article a p.course-price{
    color:#08bb08;
    font-weight: bold;
    margin: 15px;
    text-align: center;
    z-index: 9;
    position: relative;
}

main.main_index section article a p.more-info {
    color: whitesmoke;
    transition: all 1s ease-in-out;
    text-align: center;
    z-index: 9;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}

main.main_index section article a p.more-info:hover {
    background-color: #011c22;
    font-size: 20px;
    color: white;
}

.categories-section{
    margin-top: 15px;
}

.category-a{
    font-size: 2rem;
    margin: 10px;
}

/* END MAIN */


@media screen and (min-width: 768px){
    
    main.main_index section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main.main_index section article.main-courses {
        max-width: 295px;
        margin: 20px;
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main.main_index section article.main-courses picture {
        width: 100%;
    }

    .text-box h1{
        font-size: 110px;
        line-height: 160px;
        margin-left: -10px;
        color: transparent;
        -webkit-text-stroke:1px #fff;
        background: url(/images/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }

    .text-box p.brainhub-banner{
        font-size: 50px;
        font-weight: 600;
    }

    main.main_index .main_banner {
        background: url("/images/image4.jpg");
        min-height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        color: #fff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 25vh;
        font-weight: bold;
        margin-top: -1px;
        width: 100%;
    }

    

    main.main_index .main_banner .titulo_banner {
        position: absolute;
        color: rgb(251, 242, 242);     
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 60px;
        line-height: 160px;
        text-shadow: #345B63;
     }  
    
}



