@import url('root.css');

.body-admin-products{
	background: url("/images/image4.jpg");
    background-size: cover;
}

.main-container-products{
	margin: 150px auto;
	width: 650px;
	margin-top: 6rem;
	background: white;
	border-radius: 10px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	color: black;
	border-radius: 10px;
}

th, td{
	padding: 20px;
	text-align: center;
}

thead{
	background-color: #513b9b;
	border-bottom: solid 5px #32186e;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #3c3ed8;
	color: white;
}

