@import url('header.css');
@import url('footer.css');
@import url('root.css');

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body.login_body {
    padding-top: 6rem;
    background-color: #010615;
    background: url("/images/image4.jpg");
    background-size: cover;
    margin-top: 15px;
    
}
::placeholder{
    color: white;
    font-size: medium;
}

/*  FORM  */

section.container-login form a#registrate-btn {
    color: rgb(215, 215, 255);
    font-size: 16px;
    text-decoration: none;
    
}

section.container-login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    backdrop-filter: blur (4.0px);
    
   
    

}

section.container-login h2.login-title {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 300;
}

section.container-login div.lineal {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 100%;
}

section.container-login div.lineal .line-one {
    height: 3px;
    left: 0%;
    width: 47%;
    background-color: black;
    margin-top: 8px;
    border: none;
}

section.container-login div.lineal .line-two {
    height: 3px;
    right: 0%;
    width: 47%;
    background-color: black;
    margin-top: 8px;
    border: none;
}

section.container-login .lineal .separator {
    padding: 0 5px;
    font-weight: 600;
}

section.container-login .container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

section.container-login .btn {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;

}

section.container-login .container-form .btn-log:hover {
    background: linear-gradient(225deg, #cc245c, #ccf000);
    box-shadow:  0 5px 5px grey;
    font-size: 20px;
    cursor: pointer;
}

section.container-login .btn-log-facebook {
    background: rgba(62, 84, 249, 0.5);
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px rgb(26, 25, 25);
}

section.container-login .btn-log-google {
    background: rgba(109, 236, 250, 0.5);
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px rgb(26, 25, 25);
    cursor: pointer;
}

section.container-login .container-form .btn-log {
    background-color: #98CA3F;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    width: 200px;
}

section.container-login .container-form .btn-register-login {
    border: solid 2px #050b41;
    color: white;
    background-color: rgb(11, 6, 59);
    margin-top: 8px;
    height: 37px;
    font-size: 1rem;
    font-weight: 600;
    width: 150px;
}

section.container-login .container-form .btn-register-login:hover {
    background: linear-gradient(225deg, #8024cc, #0054f0);
    box-shadow:  0 5px 5px grey;
    font-size: 20px;
}

section.container-login .input-container {
    width: 100%;
    margin-right: 9px;
}

section.container-login .container-form .input-log {
    height: 50px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    background: rgba(18, 22, 1, 0.3);
    
    
}

section.container-login .container-form label.login-remember {
    color: white;
}

input#remember {
    margin-left: 5px;
    margin-top: 5px;
}

section.container-login .container-form .check-remember {
    margin-top: 1rem;
}

section.container-login .container-form p.link_pass-recover {
    margin-bottom: 30px;
    cursor: pointer;
}

section.container-login .container-form p.register-p {
    color: white;
}
