@import url('header.css');
@import url('footer.css');
@import url('root.css');

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body.login_body {
    padding-top: 6rem;
   
}

/*  FORM  */

section.container-login form a {
    color: rgb(34, 34, 182);
    font-size: 14px;
    text-decoration: none;
}

section.container-login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}
section.container-login h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

section.container-login div.lineal {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 100%;
}

section.container-login div.lineal .line-one {
    height: 3px;
    left: 0%;
    width: 47%;
    background-color: black;
    margin-top: 8px;
    border: none;
}

section.container-login div.lineal .line-two {
    height: 3px;
    right: 0%;
    width: 47%;
    background-color: black;
    margin-top: 8px;
    border: none;
}

section.container-login .lineal .separator {
    padding: 0 5px;
    font-weight: 600;
}

section.container-login .container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section.container-login .btn {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;

}

section.container-login .container-form .btn-log:hover {
    background: linear-gradient(225deg, #cc245c, #ccf000);
    box-shadow:  0 5px 5px grey;
    font-size: 20px;
}

section.container-login .btn-log-facebook {
    background-color: #335089;
    color: white;
}

section.container-login .btn-log-google {
    background-color: #A8B8BF;
    color: white;
}

section.container-login .container-form .btn-log {
    background-color: #98CA3F;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}

section.container-login .container-form .btn-register {
    border: solid 2px #263CFF;
    color: #263CFF;
    background-color: white;
    margin-top: 8px;
    height: 37px;
    font-size: 1rem;
    font-weight: 600;
}

section.container-login .input-container {
    width: 100%;
}

section.container-login .container-form .input-log {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

section.container-login .container-form .check-remember {
    margin-top: 1rem;
}

section.container-login .container-form p.link_pass-recover {
    margin-bottom: 30px;
    cursor: pointer;
}
