@import url('header.css');
@import url('footer.css');
@import url('root.css');


body{
    margin: 0;
    padding: 0;
    background-color:white;
    text-decoration: none;
    list-style: none;
}
main.product_detail{
    text-align: center;
    padding: 20px;
    background-color: white;
    align-items: center;
    margin: 0px auto;
}

/*BANNER*/

.banner {
    background: url("/images/curso4.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    padding: 20px 10px;
    font-weight: bold

}
 .titulo_baner {
     position: absolute;
     font-size: 200%;
     color: black;     
     top: 20%; 
     width: 100%;
     text-shadow: 0 0 20px #dbb6d6;
     text-align: center;
     padding: 5rem;
     
}   

.banner img {
    width: 100%;
}

h2{
    
    color: black;
}

/*DESCRIPCION*/

main.product_detail .descripcion .star img{
    width: 250px;
    display: none;
}
main.product_detail .descripcion2{
    display: flexbox;
    text-align: center;
    
    
    
}

/* .product_detail .descripcion2 {
    display: flex;
    align-items: column;
    flex-wrap: nowrap;
} */

.compra{
    width: 20%;
    z-index: -1;
}

/*CONTAINER*/
.detail_container {
    display: flex;
    padding: 20px;
    height: 100%;
    width: 50%;
    
    justify-content: space-around;
    background: #345b63;;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;  
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 10px 15px black;
    cursor: pointer;
}
.detail_container:hover{
    color: black;
    transition: 2s;
    background-color: #D4ECDD;
}

.compra{
    padding: 10px;
    cursor: pointer;
    color: black;
    background-color: rgb(240, 180, 16) ;
    font-weight: 900;
    border-radius: 15px;
    
    font-size: 18px;
    width: 50%;
    box-shadow: 5px 10px 15px black;
}
.compra:hover{
    background-color: #0de761;
    transition: 1s;
}
 

/*CARD*/
.glass_card {
    background: rgb(255, 255, 255);
    background: linear-gradient(138deg, rgba(255, 255, 255, 10%), rgba(18, 133, 3, 5%));
    backdrop-filter:blur(10px);
    z-index: 100;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 45%;
    width: 250px;
    height: 100%;
    text-align: center;
    box-shadow: -5px 10px 20px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 163, 116);
    margin: 20px auto;
    
}
.content_top img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #D4ECDD ;
}


.content_top h2 {
    margin-top: 10px;
    font-size: 28px;
}
.content_top h3 {
    font-size: 20px;
    font-weight: 300;
    color: black;
    font-weight: bold;
}
.content_top p {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    text-shadow: rgb(14, 12, 12) 2px;
    color: black;
    font-size: 16px;
}
.social_icons ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.social_icons ul li a {
    color: rgb(32, 5, 85);
}
.buttom {
    margin-top: 30px;
}
.buttom a {
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
    background-color: #600568;
    box-shadow: 0px 0px 20px #b60bc5;
}
.content_bottom {
    transform: translateY(60px);
    opacity: 0;
    transition: 0.5s;
}
.glass_card:hover .content_bottom {
    transform: translateY(0px);
    opacity: 1;
}

/*CONTENIDO*/
.contenido{
    
    padding: 20px;
    text-align: center;
}
.software{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*REQUISITOS*/

/*CARROUSEL*/
.slider {
    height: 250px;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: url("/images/curso4.jpg");
    border-radius: 15px;
    margin-bottom: 10px;
}
.slide-track {
    display: flex;
    width: calc(250px * 12);
    animation: scroll 40s linear infinite ;

}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *6));
    }
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;

}
.slider img {
   width: 150px;
   transition: transform 1s;
}
.slider img:hover {
    transform: translateZ(20px);
}
.slider::before,
.slider::after {
    background: linear-gradient(to rigth, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255,0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);

}

 /*TEMARIO*/

 .Temario{
    background-color: #D4ECDD;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    margin-top: 20px;
} 
.Temario .tema{
    position: relative;
}
.Temario .tema .label{
    position: relative;
    background-color: rgb(245, 163, 116);
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    color: black;
}
.Temario .tema .label:hover{
    background-color:rgb(247, 122, 51) ;
    transition: 0,5s;
}
.Temario .tema .label::before{
    content: '+';
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}
.Temario .tema.active .label::before{
    content: '-';
}
.Temario .tema .content {
    position: relative;
    background-color: #345b63;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    align-items: center;
}
.Temario .tema.active .content{
    height: 120px;
}

.Temario a{
    display: block;
}



/*KEY FRAMES*/

/*TABLET*/
@media (min-width:768px) {
    .compra{
        position: fixed;
        margin-left: 25%;
        margin-top: 0;
        width: 20%;
        z-index: 1;
    }

    .descripcion2{
        overflow: hidden;
        flex-wrap: wrap;
    }

    .descripcion2 .card{
        float: left;
        width: 45%;
    }

    .descripcion2 .contenido{
        float: left;
        width: 50%;
    }
    
    .descripcion .star img{
        display: inline-block;
    }

}

    /*DESKTOP*/

@media (min-width:1024px) {
    .descripcion .star{
        float: left;
        width: 40%;
    }

    .descripcion .container{
        width: 50%;
        float: left;
    }

    .descripcion{
        overflow: hidden;
        align-items: center;
    }

    .descripcion .star img{
        display: inline;
    }

    .compra{
        position: relative;
        margin-left: 0;
        margin-bottom: 20px;
        width: 30%;
        z-index: 0;
    }

    .Temario{
        overflow: hidden;
    }

    .tema{
        float: left;
        width: 48%;
        align-items: center;
        margin-right: 3px;
    }
}

