@import url('header.css');
@import url('footer.css');
@import url('root.css');


body {
    width: 100%;
}

main.main_cart {
    background-color: #D4ECDD;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
    
main.main_cart h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.3rem;
}
    
main.main_cart p.cantidad {
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 10px;
}
    
main.main_cart article {
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto 30px;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    justify-content: center;
    width: 400px;
}
    
main.main_cart article div.carrito-cursos {
    width: 100%;
}
    
main.main_cart article picture img {
    width: 100%;
    align-items: center;
    justify-content: center;
}

main.main_cart .carrito-price {
    width: 250px;
    margin-top: 50px;
    margin-left: 30px;
    display:block;
    color: #0a8010;
    font-weight: bold;
}


button.comprar {
    padding: 10px;
    cursor: pointer;
    color: black;
    background-color: rgb(240, 180, 16) ;
    font-weight: 900;
    border-radius: 15px;
    z-index: 1;
    font-size: 18px;
    width: 250px;
    box-shadow: 5px 10px 15px black;
    margin: 60px;
}

button.comprar:hover{
    background-color: #0de761;
    transition: 1s;
}

.trashcan {
    display: flex;
    position: absolute;
    top: 345px;
    right: 50px;
    cursor: pointer;
}

div.total-amount {
    display: flex;
    border: #000;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}


@media (min-width: 1024px) {
    main.main_cart article {
        align-items: center;
        margin: 0 auto 30px;
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        justify-content: center;
        width: 90%;
    }

    button.comprar {
        margin: 60px;
        justify-content: center;
    }

    .trashcan {
        top: 20px;
        right: 30px;
    }

    main.main_cart .carrito-price {
        width: 250px;
        margin-top: 30px;
        margin-left: 30px;
        display:block;
        color: #0a8010;
        font-weight: bold;
    }

    main.main_cart article picture img {
        width: 300px;
    }
}