<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
    
    <body>
        <%- include ('partials/header') %>
        <section class="container-login">
            <h2 class="title">Iniciar sesion</h2>
    
            <button class="btn-log-facebook btn">Inicia sesion con Facebook</button>
            <button class="btn-log-google btn">Inicia sesion con Google</button>
            <div class="lineal">
                <hr class="line-one line">
                <p class="separator">0</p>
                <hr class="line-two line">
            </div>
            <form class="container-form" action="" method="">
                <div class="input-container">
                    <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <input class="input-log" type="password" name="pass" placeholder="Ingrese su contrase単a">
                </div>
                <div class="check-remember">
                    <label for="recordar">Recordar <input type="checkbox" name="terms" id="recordar"></label>
                </div>
                <button type="submit" class="btn btn-log">Ingresar</button>
                <p class="link_pass-recover"><a href="#">多Olvidaste tu contrase単a?</a></p>
                <p>多Aun no tienes cuenta en BrainHub?</p>
                <button class="btn-register btn">Registrate</button>
            </form>
        </section>
        <%- include ('partials/footer') %>
    </body>
</html>