<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6cdc6ab529.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/Images/logo-brainhub-favicon.jpg" type="">
    <title>Product Detail</title>
</head>

<body>

    <header class="header">
        <nav>
            <div><input type="checkbox" id="menu-burger"></div>
            <label for="menu-burger" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="burger-display">
               
                <li><a class="active" href="#" target="_self">INICIO</a></li>
                <li><a href="#">CATEGORÍAS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="logo"> <a href="#"><img src="/images/logo-brainhub.jpg" alt="Logo Brainhub" id="logo"></a></div>
        <div class="buscador">
            <input type="text" name="search" placeholder="Buscar cursos">
            <button class="search">
            <i class="fas fa-search"></i>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu-item"> <a href="/">INICIO</a>
                </li>
                <li class="menu-item">CATEGORIAS
                    <ul class="submenu">
                        <li><a href="#idiomas">IDIOMAS</a></li>
                        <li><a href="#tecnologia">PROGRAMACIÓN</a></li>
                    </ul>
                </li>
                <li class="menu-item"> <a href="#brainhub-about"> ACERCA DE </a></li>
            </ul>
        </nav>
        <div class="user"> LOGIN </div>
    </header>

    <section class="banner">
        <div class="titulo_baner">
            <h1>Curso de Introducción a React.js</h1>
            <h2>On line</h2>
        </div>
    </section>

    <main>
        <div class="descripcion">

        <div class="star">
            <h2>Introducción a React.js</h2><br>
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-thin fa-star"></i>
            <h2>Acceso Total AR $7475</h2><br><br>
            <button class="compra"> <a href="/productCart">Agregar al carrito</a></button>
        <br>
        
            <img src="/images/react.png" alt="">
            <br>
            
        </div>
        <br>

        <div class="container">
            <p>
                ¡Aprende React.js, la librería más popular de JavaScript para crear aplicaciones web
                interactivas!<br><br>
                Trabaja con componentes, propiedades, estado y efectos.<br><br> Almacena tu información en Local
                Storage,
                implementa React Context para comunicar componentes y teletransporta componentes con React
                Portals.<br><br>
                Crea tu primer proyecto web con React junto a tu profesor.
            </p>
        </div>
    </div>
        <br>
        <hr>
    <div class="descripcion2">
        <section class="card">

            <div class="glass_card">
                <div class="content_top">
                    <h2>Instructor</h2>
                    <img src="/images/instructor1.jpg" alt="">
                    <h2>Pepita Pérez</h2>
                    <h3>Desarrolladora de Software</h3>
                    <p>Apasionada por la educación online, y es
                        una persona comprometida y entusiasta de los nuevos métodos de enseñanza</p>
                </div>
                <div class="content_bottom">
                    <div class="social_icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-brands fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="buttom">
                        <a href="#">Porfolio</a>
                    </div>
                </div>
            </div>

        </section>
        <br>
        <section class="contenido">
            <h2>Información del Curso</h2><br>
            <ul>
                <li>Nivel introductorio</li>
                <li>5 horas de contenido</li>
                <li>14 horas de práctica</li>
                <li>21 clases</li>
                <li>Material de apoyo</li>
                <li>Certificado al finalizar la cursada</li>
            </ul><br>
        </section>
        <br>

        <section class="requisitos">
            <h2>Conocimiento previos para cursar </h2><br>
            <ul>
                <li>HTML y CSS</li>
                <li>Manipulación del DOM con JavaScript</li>
                <li>JavaScript práctico</li>
                <li>ECMAScript6+</li>
                <li>Closures y Scope</li>
                <li>Asincronismo con JavaScript</li>
            </ul>
            <br>
            <h2>Software que vas a necesitar</h2>
            <br>
            <ul>
                <li>Node.js</li>
                <li>Editor de código</li>
                <li>NPM o Yarn</li>
            </ul>
        </section>
    </div>
        <br><br>

        <div class="slider">
            <h2>Herramientas que vamos a trabajar</h2>

            <div class="slide-track">
                <div class="slide">
                    <img src="/images/carrousel/img1.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img2.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img3.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img4.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img5.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img6.png">
                </div>
                <div class="slide">
                    <img src="/images/carrousel/img1.png">
                </div>
                <div class="slide">
                    <img src="/images/carrousel/img2.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img3.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img4.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img5.png">
                </div>

                <div class="slide">
                    <img src="/images/carrousel/img6.png">
                </div>
            </div>
        </div>

        <h2>TEMARIO DEL CURSO</h2>
        <div class="Temario">
            <div class="tema">
                <div class="label">Primeros pasos con React.js</div>
                <div class="content">
                    <br>
                    <p>* Cómo aprender React.js<br>
                        * Cuándo usar React.js<br>
                        * Instalación con Create React App
                    </p>
                </div>
            </div>

            <div class="tema">
                <div class="label">Maquetación</div>
                <div class="content">
                    <br>
                    <p>* JSX: componentes vs. elementos<br>
                        * Componentes de TODO Machine<br>
                        * CSS en React
                    </p>
                </div>
            </div>

            <div class="tema">
                <div class="label">Interacción</div>
                <div class="content">
                    <br>
                    <p>* Manejo de eventos<br>
                        * Manejo de estado<br>
                        * Contando y buscando TODOs<br>
                        * Completando y eliminando TODOs</p>
                </div>

            </div>

            <div class="tema">
                <div class="label">Escalabilidad</div>
                <div class="content">
                    <br>
                    <p>* Organización de archivos y carpetas<br>
                        * Persistenacia de datos con Local Storage<br>
                        * Manejo de efectos</p>
                </div>
            </div>
            <div class="tema">
                <div class="label">Modales y formularios</div>
                <div class="content">
                    <br>
                    <p>* Portales: teletransportación de componentes<br>
                        * Formulario para crear TODOs</p>
                </div>
            </div>

            <div class="tema">
                <div class="label">Retos</div>
                <div class="content">
                    <br>

                    <p>* Loading skeletons<br>
                        * icon component</p>
                </div>

            </div>
            <div class="tema">
                <div class="label">Proximos pasos</div>
                <div class="content">
                    <br>
                    <p>* Deploy con GitHub Pages<br>
                        * Toma el curso de React.js: Patrones de Render y Composición</p>
                </div>
            </div>
        </div>
    </main>

    <footer>

        <div class="container__footer">
            <div class="article_footer">
                <div class="logo">
                    <img src="/images/logo-brainhub.jpg" alt="logo BrainHub">
                </div>
            </div>
            <div class="article__footer">

                <div class="somos_Brainhub">
                    <p>Somos BrainHub Training, una institución online que se dedica a la enseñanza no convencional. Nos especializamos en la formación de lenguajes tanto clásicos como de tecnología.</p>
                </div>
            </div>

            <div class="article__footer">
                <h2>Enlaces de ayuda</h2>
                <a href="#">Política de privacidad</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Políticas de cookies</a>
                <a href="#">Atención al cliente</a>
            </div>

            <div class="article__footer">
                <h2>Cursos</h2>
                <a href="#">Idiomas</a>
                <a href="#">Diseño Web</a>
                <a href="#">Programación</a>
                <a href="#">Próximos cursos</a>
            </div>

            <div class="article__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="copyright">
            <hr>
            <p>Marca Registrada © 2022 <b>BrainHub Training</b></p>
        </div>
    </footer>

    <script>
        const Temario = document.getElementsByClassName('tema');
        for (i = 0; i < Temario.length; i++) {
            Temario[i].addEventListener('click', function () {
                this.classList.toggle('active')
            })
        }
    </script>
    <script src="/js/header.js"></script>


</body>


</html>