<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <%- include ('partials/header') %> 
    <main class="main_cart">
        <div>
            <h2>Carrito de compras</h2>
            <p class="cantidad">2 cursos en el carrito</p>
            <article>
                <picture class="carrito-img"><img src="/images/curso-english1.jpg" alt=""></picture>
                <div>
                    <h3 class="carrito-cursos">Curso Completo de Inglés: Iniciación</h3>
                </div>
                <p class="carrito-description">Curso completo de inglés para dominar la gramática, traducción,
                    conversación, vocabulario, pronunciación y mucho más.</p>
                <span class="trashcan"><i class="fa-solid fa-trash-can"></i></span>
                <p class="carrito-price">ARS$3000</p>
            </article>
            <article>
                <picture class="carrito-img"><img src="/images/curso-chino1.jpg" alt=""></picture>
                <div>
                    <h3 class="carrito-cursos">Aprender Chino a la primera</h3>
                </div>
                <p class="carrito-description">Curso de chino. Empieza desde cero y habla desde el primer vídeo de la
                    forma más dinámica y divertida.</p>
                <span class="trashcan"><i class="fa-solid fa-trash-can"></i></span>
                <p class="carrito-price">ARS$3000</p>
            </article>
            <div class="total-amount"><p>TOTAL: ARS$6000</p></div>
            <div class="contenedor-boton">
                <button class="comprar"><span>COMPRAR</span></button>
            </div>
        </div>
    </main>
 <%- include ('partials/footer') %> 
    <script src="/js/header.js"></script>
</body>
</html>