<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
    <body class="login_body">
        <%- include ('partials/header') %> 
        <section class="container-login">
            <h2 class="title">Registrarse</h2>
    
            
            <form class="container-form" action="" method="post" enctype="multipart/form-data">
                <div class="input-container">
                    <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <input class="input-log" type="password" name="pass" placeholder="crea tu contraseña">
                </div>
                <div class="check-remember">
                    <label for="recordar">Recordar <input type="checkbox" name="terms" id="recordar"></label>
                </div>
                <div class="upload-avatar">
                    <label for="avatar">Avatar</label>
                    <input type="file" name="avatar" id="avatar">
                </div>
                
                <button class="btn-register btn">Registrate</button>
            </form>
        </section>
        <%- include ('partials/footer') %>
    </body>
</html>