<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
    <body class="login_body">
        <%- include ('./partials/header') %> 
        <section class="container-login">
            <h2 class="title">Registrate</h2>
    
                <form class="container-form" action="" method="">
                <div class="input-container">
                    <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <input class="input-log" type="password" name="pass" placeholder="Ingrese su contraseña">
                </div>
                <div class="check-remember">
                    <label for="recordar">Recordar <input type="checkbox" name="terms" id="recordar"></label>
                </div>
                <button type="submit" class="btn btn-log">Registrarse</button>

                <button class="btn-register btn">Registrate</button>
            </form>
        </section>
        <%- include ('./partials/footer') %>
    </body>
</html>