<footer>
    <div class="container__footer">
        <div class="article_footer">
            <div class="footer-logo">
                <img src="/images/logobrainhub.png" alt="logo BrainHub" class="footer-logo-img">
            </div>
        </div>
        <div class="article__footer">
            <div class="somos_Brainhub">
                <p id="brainhub-about">Somos BrainHub Training, una institución online que se dedica a la enseñanza no convencional. Nos especializamos en la formación de lenguajes tanto clásicos como de tecnología.</p>
            </div>
        </div>
        <div class="article__footer">
            <h2>Enlaces de ayuda</h2>
            <a href="#">Política de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Políticas de cookies</a>
            <a href="#">Atención al cliente</a>
        </div>
        <div class="article__footer">
            <h2>Cursos</h2>
            <a href="#">Idiomas</a>
            <a href="#">Diseño Web</a>
            <a href="#">Programación</a>
            <a href="#">Próximos cursos</a>
        </div>
        <div class="article__footer">
            <h2>Redes Sociales</h2>
            <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
    </div>
    <div class="copyright">
        <hr>
        <p>Marca Registrada © 2022 <b>BrainHub Training</b></p>
    </div>
</footer>