<header class="header">
    <nav>
        <div><input type="checkbox" id="menu-burger"></div>
        <label for="menu-burger" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="burger-display">
            <li><a class="active" href="#" target="_self">INICIO</a></li>
            <li><a href="#">CATEGORÍAS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
        <!-- <div id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></div> -->
    </nav>
    <div class="logo"> <a href="#"><img src="/images/logo-brainhub.jpg" alt="Logo Brainhub" id="logo"></a></div>
    <div class="buscador">
        <input type="text" name="search" placeholder="Buscar cursos">
        <button class="search">
        <i class="fas fa-search"></i>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu-item"> <a href="/">INICIO</a>
            </li>
            <li class="menu-item">CATEGORIAS
                <ul class="submenu">
                    <li><a href="#idiomas">IDIOMAS</a></li>
                    <li><a href="#tecnologia">PROGRAMACIÓN</a></li>
                </ul>
            </li>
            <li class="menu-item"> <a href="#brainhub-about"> ACERCA DE </a></li>
        </ul>
    </nav>
    <div class="user"> <a href="/login"> LOGIN </a></div>
</header>